name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: RelWithDebInfo

jobs:
  build:
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
        - {
            os: windows-2019,
            name: windows
          }
        - {
            os: macos-13,
            name: macos
          }
        - {
            os: ubuntu-22.04,
            name: ubuntu
          }
        version:
        # These work but are excessive for building
        # - name: v03.02.03814
        #   patch-file: ../.github/workflows/3.5_0001-Support-building-plugins-without-an-install.patch
        #   use-patch: true
        # - name: v3.3.3996
        #   patch-file: ../.github/workflows/3.5_0001-Support-building-plugins-without-an-install.patch
        #   use-patch: true
        # - name: v3.4.4271-stable
        #   patch-file: ../.github/workflows/3.5_0001-Support-building-plugins-without-an-install.patch
        #   use-patch: true
        # - name: v3.5.4526-stable
        #   patch-file: ../.github/workflows/3.5_0001-Support-building-plugins-without-an-install.patch
        #   use-patch: true
        - name: v4.0.4958-stable
          patch-file: ../.github/workflows/4.0_0001-Support-building-plugins-without-an-install.patch
          use-patch: true
        - name: v4.1.5747-stable
          patch-file: ../.github/workflows/4.1_0001-Support-building-plugins-without-an-install.patch
          use-patch: true
        - name: v4.2.6455-stable
          use-patch: false
        - name: dev
          use-patch: false
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - uses: seanmiddleditch/gha-setup-ninja@master
    - uses: ilammy/msvc-dev-cmd@v1
    - name: Update submodule
      run: |
        cd binaryninjaapi
        git fetch --tags
        git checkout --force ${{matrix.version.name}}
        git submodule update --init --recursive
    - name: Patch api to allow building headlessly
      if: ${{ matrix.version.use-patch }}
      shell: bash
      run: |
        cd binaryninjaapi
        git apply --verbose ${{matrix.version.patch-file}} 
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G Ninja -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.config.name}}-${{matrix.version.name}}
        path: ${{github.workspace}}/build/*TestPlugin*
